<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./static/output.css">
</head>
<body class="bg-zinc-200">
    <div class="bg-zinc-400 relative w-screen" style="height:10vh">
        <h2 class="mx-4 text-3xl font-extrabold uppercase">Home Page</h2>
        {% if logged_in %}
        <h3 class="mx-4 text-xl font-bold">Welcome, {{ username }}!</h3>
        {% endif %}
    </div>
        
    
    {% if logged_in %}
        
        <div class="rounded-none relative bottom-2 bg-zinc-300 w-1/6" style="height: 90vh">
            <div class="mx-4 my-2 absolute bottom-1 left-1 rounded-lg bg-zinc-400 hover:bg-slate-300 ">
                <a class="px-1.5 font-bold hover:italic text-center" href="/logout"><button>Logout</button></a>
            </div>
            <div class="mx-4 my-2 relative top-6 rounded-lg bg-zinc-400 hover:bg-slate-300 w-44">
                <a class="px-1.5 font-bold hover:italic" href="/agenda"><button>Agenda</button></a>
            </div>
            <div class="mx-4 my-2 relative top-6 rounded-lg bg-zinc-400 hover:bg-slate-300 w-44">
                <a class="px-1.5 font-bold" href="/noten"><button>Notenorganisation</button></a>
            </div>
            <div class="mx-4 my-2 relative top-6 rounded-lg bg-zinc-400 hover:bg-slate-300 w-44">
                <a class="px-1.5 font-bold hover:italic" href="/lerntimer"><button>Lerntimer</button></a>
            </div>
            <div class="mx-4 my-2 relative top-6 rounded-lg bg-zinc-400 hover:bg-slate-300 w-44">
                <a class="px-1.5 font-bold hover:italic" href="/lerntipps"><button>Lerntipps</button></a>
            </div>
            <div class="mx-4 my-2 relative top-6 rounded-lg bg-zinc-400 hover:bg-slate-300 w-44">
                <a class="px-1.5 font-bold hover:italic" href="/settings"><button>Einstellungen</button></a>
            </div>
        </div>
    {% else %}
        <div class="rounded-none static bg-zinc-300 w-1/4" style="height:90vh">
            <div class="rounded-lg bg-zinc-400 w-36">
                <a class="mx-5" href="/login"><button>Login</button></a>
            </div>
            <div class="rounded-lg bg-zinc-400 w-36">
                <a class="mx-5" href="/register"><button>Register</button></a>
            </div>

        </div>
    {% endif %}

    <!-- margin: 20px; padding: 15px; border: 1px solid #ddd; border-radius: 8px; background-color: #f9f9f9; -->
    <div class="fixed inset-0 flex items-center justify-center p-4 pointer-events-none">
        <div class="bg-zinc-400 rounded-xl p-6 shadow-lg">
            <h3 class="text-xl font-bold mb-2">Tip of the Day</h3>
            <p class="">{{ tip }}</p>
        </div>
    </div>
</body>
</html>
